@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    text-align: center;
    background-color: #f79e02;
    font-family: 'Roboto Condensed', sans-serif;
}
.div-1{
    display: flex;
    flex-direction: column;
}
.div-2,.div-3{
    display: flex;
    flex-direction: row;
}
.div-2{
    justify-content: space-evenly;
}
.div-3{
    justify-content: center;
}
#imgs{
    width:500px;
    height: 300px;
}
p{
    width:550px;
    padding: 5px 30px;
}

a{
    text-decoration: none;
    color: white;
    background-color: red;
    border: 2px solid black;
    padding: 2px 2px;
}